form {
    overflow: hidden;
    height: 0;
}

.show {
    height: auto;
}

.form__wrapper {
    transform: translateY(-200px);
    transition-duration: 1s;
}

.show .form__wrapper {
    transform: translateY(0px);
}

.table td {
    vertical-align: middle;
}

.data {
    margin-bottom: 50px;
}

.diagrams {
    transition-duration: 1s;
}

.diagram {
    display: flex;
    align-items: flex-end;
    height: 300px;
    flex-grow: 1;
    position: relative;
}

.diagram:not(:last-child) {
    margin-right: 10px;
}

.diagram__name {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.diagram__cost {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

#tbody td:not(:first-child) {
    color: #0c5460;
}

#tbody td:not(:first-child):hover {
    color: #005cbf;
    cursor: pointer;
}

.diagram__block {
    display: block;
    width: 100%;
    height: 0%;
    background-color: black;
    transition-duration: 1s;
}

.diagram--0 .diagram__block {
    background-color: lightseagreen;
}

.diagram--1 .diagram__block {
    background-color: blue;
}

.diagram--2 .diagram__block {
    background-color: #0c5460;
}

.diagram--3 .diagram__block {
    background-color: #005cbf;
}

.diagram--4 .diagram__block {
    background-color: #b21f2d;
}

.diagram--5 .diagram__block {
    background-color: #e83e8c;
}

.diagram--6 .diagram__block {
    background-color: darkgreen;
}

.diagram--7 .diagram__block {
    background-color: gold;
}